<form  class="container" enctype="multipart/form-data" method="POST" action="/admin/category/updated?_method=PATCH">
    <h1 class="text-primary">update Category</h1>
    <input type="hidden" name="_id" value="<%= category._id %>">
    <div class="form-group">
        <label for="name">category name</label>
        <input type="text" class="form-control" placeholder="Enter name product...." id="name" name="name" value="<%= category.name %>">
    </div>


    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <label for="files-input-avatar" class="btn"
            style="background-color: #dedede; margin-left:10px;margin-bottom: 0;text-align: center;line-height: 29px;">click
            Here to Select Image category</label>
        <input  name="image-category" class="form-control" id="files-input-avatar" style="visibility:hidden;" type="file" accept="image/png ,image/jpeg">
        <input type="hidden" name="image_old"value="<%= category.image %>">
    </div> <!-- form-group// -->
    <img id="img-avatar-account" class="mt-1 border" src="/<%= category.image %>" alt="img" width="100px" height="100px">
    
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    let input = document.getElementById('files-input-avatar')
    let img = document.getElementById('img-avatar-account')

    let reader = new FileReader()
        input.onchange = function (e) {
            reader.readAsDataURL(input.files[0]);
            reader.onloadend = () => {
                img.setAttribute('src', reader.result);
            };

        }
</script>