<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <ul class="f-list">
                        <h3 class="f-list-caption">
                            chăm sóc khác hàng
                        </h3>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Shopee Blog</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Shopee Mall</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Hướng Dẫn Mua Hàng</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Hướng Dẫn Bán Hàng</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Thanh Toán</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Shopee Xu</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Vận Chuyển</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Trả Hàng & Hoàn Tiền</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Chăm Sóc Khách Hàng</a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">Chính Sách Bảo Hành</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <ul class="f-list">
                        <h3 class="f-list-caption">
                           Về Shopee
                        </h3>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Giới Thiệu Về Shopee Việt Nam
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Tuyển Dụng
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Điều Khoản Shopee
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Chính Sách Bảo Mật
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Chính Hãng
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Kênh Người Bán
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Flash Sales
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Chương Trình Tiếp Thị Liên Kết Shopee
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                Liên Hệ Với Truyền Thông
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-lg-5">
                    <ul class="f-list">
                        <h3 class="f-list-caption">Thanh toán</h3>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                <img class="f-list-item-img-pay-and-move" src="../images/prouduct/image/240_F_416926429_MhgimHe2DMSTGqmJCdJgPtZtEQshgUks.jpg" alt="" >
                            </a>
                        </li>
                     
                    </ul>
                    <ul class="f-list">
                        <h3 class="f-list-caption">Đơn vị vận chuyển</h3>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                <img class="f-list-item-img-pay-and-move" src="../images/prouduct/image/240_F_434553675_2KSgr0rwmWFe4XQaf4AG4Gbvgn31M4OE.jpg" alt="" >
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <ul class="f-list">
                        <h3 class="f-list-caption">theo dõi chúng tôi</h3>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                              <i class="fab fa-facebook f-list-item-link-icon"></i>  Facebook
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                <i class="fab fa-instagram f-list-item-link-icon"></i>Instagram
                            </a>
                        </li>
                        <li class="f-list-item">
                            <a href="#" class = "f-list-item-link">
                                <i class="fab fa-linkedin f-list-item-link-icon"></i>LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="f-list-qr">
                        <h3 class="f-list-caption">Tải ứng dụng shopee ngay thôi</h3>
                            <div class="f-container-qr-and-app">
                                <img src="../images/prouduct/image/qr.png" class="f-list-item-qr" alt="">
                                <div class="f-list-item-app">
                                    <img class="f-list-item-apps" src="../images/prouduct/image/app1.png" alt="">
                                    <img class="f-list-item-apps" src="../images/prouduct/image/app2.png" alt="">
                                    <img class="f-list-item-apps" src="../images/prouduct/image/app3.png" alt="">
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            <hr class="f-hr">
            <div class="nation-and-area">
                <p class="nation-and-area-left">@2021 Shopee. Tất cả các quyền được bảo lưu</p>
                <ul class="nation-and-area-list">
                <li class="nation-and-area-items">Quốc gia & Khu vực:</li>
                <li class="nation-and-area-items">Singapore,</li>
                <li class="nation-and-area-items">Indonesia,</li>
                <li class="nation-and-area-items"> Đài Loan,</li>
                <li class="nation-and-area-items"> Thái Lan,</li>
                <li class="nation-and-area-items"> Malaysia,</li>
                <li class="nation-and-area-items"> Việt Nam,</li>
                <li class="nation-and-area-items"> Philippines,</li>
                <li class="nation-and-area-items"> Brazil,</li>
                <li class="nation-and-area-items"> México.</li>
               </ul> 
            </div>

        </div>
    </div>

    <div class="footer-container-bottom">
        <ul class="security-list">
            <li class="security-item">
                <a href="#">CHÍNH SÁCH BẢO MẬT</a>
            </li>
            <li class="security-item">
                <a href="#">QUY CHẾ HOẠT ĐỘNG</a>
            </li>
            <li class="security-item">
                <a href="#">CHÍNH SÁCH VẬN CHUYỂN</a>
            </li>
            <li class="security-item">
                <a href="#">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
            </li>
        </ul>

        <ul class="footer-address">
            <li class="footer-address-item">
                <p>Công ty TNHH Shopee </p>
            </li>
            <li class="footer-address-item">
                <p>Địa chỉ: Tầng 28, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
            </li>
            <li class="footer-address-item">
                <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
            </li>
            <li class="footer-address-item">
                <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            </li>
            <li class="footer-address-item">
                <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
            </li>
        </ul>
    </div>
</footer>